header{
    text-align: center;
}
nav{
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    text-align: center;
}
nav ul{
    text-decoration: none;
    list-style: none;
    min-height: 23px;
    position: relative;
    clear: both;
    grid-template-columns: repeat(4,1fr);
    display: grid
}
nav li{
    display: inline;
}
nav li a {
    text-decoration: none;
    color: grey;
    transition: 0.3s;
    padding: 17px 40px;
}
nav li a:hover {
    font-size: 20px;
    transition: 0.3s;
    font-weight: 800;
    color: mediumaquamarine;
}
footer{
    background-color: black;
    text-align: center;
    padding: 30px;
  }

  footer p{
    display: inline-block;
    margin-left: 15px;
    color: white;
  }

  footer a:link {
    background-color: transparent;
    text-decoration: none;
    color: white;
  }

  footer a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  footer a:hover {
    background-color: transparent;
    text-decoration: none;
    color: #7ABA96;;
  }
li a{
    text-decoration: none;
    color: mediumaquamarine;
}


.section{

    float: left;
    width: 96%;
    background-color: #EFEFEF;
    padding: 2%;
    overflow: auto;
}

.bloque{
    padding-top: 1em;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #333333;
}

.titulo{
    color: #006600;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
}